body, html {
    height: 100%;
    }
    .bg {
    background-image: url("bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .btn-flat {
        background-color: black;
        color: white;
      }
  
      .btn-xxl {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;}